{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta name="google-site-verification" content="qP3KCykGdkEyrVThfHoUl8VNwM0Om6G7Y9oFIz8EKbE" />
</head>
<title>Inter-System</title>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="{% static 'css/blog.css' %}">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    body,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: "Lato", sans-serif;
    }
    
    body,
    html {
        height: 100%;
        color: #777;
        line-height: 1.8;
    }
    /* Create a Parallax Effect */
    
    .bgimg-1,
    .bgimg-2,
    .bgimg-3 {
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    /* First image (Logo. Full height) */
    
    .bgimg-1 {
        background-image: url('https://cdn.computerhoy.com/sites/navi.axelspringer.es/public/media/image/2019/07/origen-nombres-informatica-nunca-hubieras-imaginado_2.jpg');
        min-height: 65%;
    }
    /* Second image (Portfolio) */
    
    .bgimg-2 {
        background-image: url("https://posgrado.fceia.unr.edu.ar/images/fotos/carreras/doctorados/Doctorado-en-Informatica-2.jpg");
        min-height: 400px;
    }
    /* Third image (Contact) */
    
    .bgimg-3 {
        background-image: url("/w3images/parallax3.jpg");
        min-height: 400px;
    }
    
    .w3-wide {
        letter-spacing: 10px;
    }
    
    .w3-hover-opacity {
        cursor: pointer;
    }
    /* Turn off parallax scrolling for tablets and phones */
    
    @media only screen and (max-device-width: 1600px) {
        .bgimg-1,
        .bgimg-2,
        .bgimg-3 {
            background-attachment: scroll;
            min-height: 400px;
        }
    }
</style>

<body>

    <!-- First Parallax Image with Logo Text -->
    <div class="bgimg-1 w3-display-container w3-opacity-min" id="home">
        <div class="w3-display-middle" style="white-space:nowrap;">
            <span class="w3-center w3-padding-large w3-black w3-xlarge w3-wide w3-animate-opacity">Inter System <span class="w3-hide-small"></span></span>
        </div>
    </div>

    <!-- Container (About Section) -->
    <div class="w3-content w3-container w3-padding-64" id="about">
        <h3 class="w3-center">Sobre Nosotros</h3>
        <p style="color:#000000" ;>Somos un equipo encargado de solucionar problemas informáticos, brindamos soporte para actualización de equipos, PC, Notebook, etc. También ofrecemos asesoramiento e instalación de redes de internet, así como también establecemos diferentes equipos
            en conexión de red-lan para grupos de trabajos o videojuegos.</p>
        <hr style="border:15px;">

        <span class="fa-stack fa-lg">
                <i class="fa fa-circle-thin fa-stack-2x"></i>
                <i class="fa fa-floppy-o fa-stack-1x"></i>
              </span> - Formateo y partición de discos<br>
        <span class="fa-stack fa-lg">
                <i class="fa fa-circle-thin fa-stack-2x"></i>
                <i class="fa fa-floppy-o fa-stack-1x"></i>
              </span> - Instalacion de windows o linux<br>
        <span class="fa-stack fa-lg">
                <i class="fa fa-circle-thin fa-stack-2x"></i>
                <i class="fa fa-floppy-o fa-stack-1x"></i>
              </span> - Instalacion de software y drivers<br>
        <span class="fa-stack fa-lg">
                <i class="fa fa-circle-thin fa-stack-2x"></i>
                <i class="fa fa-floppy-o fa-stack-1x"></i>
              </span> - Redes<br>
        <span class="fa-stack fa-lg">
                <i class="fa fa-circle-thin fa-stack-2x"></i>
                <i class="fa fa-floppy-o fa-stack-1x"></i>
              </span> - Mantenimiento Preventivo y Correctivo<br>
        <span class="fa-stack fa-lg">
                <i class="fa fa-circle-thin fa-stack-2x"></i>
                <i class="fa fa-floppy-o fa-stack-1x"></i>
              </span> - Instalacion de componentes de Hardware<br>


        <!-- Second Parallax Image with Portfolio Text -->
        <div class="bgimg-2 w3-display-container w3-opacity-min">
            <div class="w3-display-middle">
                <span class="w3-xxlarge w3-text-white w3-wide"></span>
            </div>
        </div>
        <hr style="border:15px;">
        <!-- Container (Portfolio Section) -->
        <div class="w3-content w3-container w3-padding-64" id="portfolio">
            <h3 class="w3-center">Algunos de nuestros trabajos</h3>
            <p class="w3-center"><em>Fotos capturadas en el proceso de reparacion y/o mantenimiento<br></em></p><br>

            <!-- Responsive Grid. Four columns on tablets, laptops and desktops. Will stack on mobile devices/small screens (100% width) -->
            <div class="w3-row-padding w3-center">
                <div class="w3-col m3">
                    <img src="https://i.postimg.cc/bYMRk9qz/Whats-App-Image-2022-02-05-at-19-50-00.jpg" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="Analisis cpu y diagnostico">
                </div>

                <div class="w3-col m3">
                    <img src="https://i.postimg.cc/ydxFSk5g/Whats-App-Image-2022-02-05-at-19-50-01.jpg" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="Limpieza de Componentes">
                </div>

                <div class="w3-col m3">
                    <img src="https://i.postimg.cc/5NCS3Qt8/Whats-App-Image-2022-02-05-at-19-50-01-1.jpg" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="Control de temperatura">
                </div>

                <div class="w3-col m3">
                    <img src="https://i.postimg.cc/zf0CBndY/Whats-App-Image-2022-02-05-at-19-50-01-3.jpg" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="Limpieza">
                </div>
            </div>

            <div class="w3-row-padding w3-center w3-section">
                <div class="w3-col m3">
                    <img src="https://i.postimg.cc/43Jvs8Q1/Whats-App-Image-2022-02-05-at-19-50-01-2.jpg" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="Antes">
                </div>

                <div class="w3-col m3">
                    <img src="https://i.postimg.cc/dVcmSQ7p/Whats-App-Image-2022-02-05-at-19-50-02-1.jpg" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="Despues">
                </div>

                <div class="w3-col m3">
                    <img src="https://www.muycomputer.com/wp-content/uploads/2018/12/montar-un-procesador-4.jpg" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="Ejemplo 7">
                </div>

                <div class="w3-col m3">
                    <img src="https://filestore.community.support.microsoft.com/api/images/8b7a2907-d9d2-4cfc-ab3e-f9a877dcb1ed?upload=true" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="Ejemplo 8">

                </div>
                <!-- Modal for full size images on click-->
                <div id="modal01" class="w3-modal w3-black" onclick="this.style.display='none'">
                    <span class="w3-button w3-large w3-black w3-display-topright" title="Close Modal Image"><i class="fa fa-remove"></i></span>
                    <div class="w3-modal-content w3-animate-zoom w3-center w3-transparent w3-padding-64">
                        <img id="img01" class="w3-image">
                        <p id="caption" class="w3-opacity w3-large"></p>
                    </div>
                    <hr style="border:15px;">
                </div>
                <hr style="border:15px;">

                <!-- Container (Contact Section) -->
                <div class="w3-content w3-container w3-padding-64" id="contact">
                    <h3 class="w3-center">Contacto</h3>
                    <p class="w3-center"><em>Comunicate con nosotros, o seguinos en nuestras redes .</em></p>

                    <div class="w3-row w3-padding-32 w3-section">
                        <div class="w3-col m4 w3-container">
                            <img src="https://geeksroom.com/wp-content/uploads/2017/06/google-maps-1797882_640.png" class="w3-image w3-round" style="width:100%">
                        </div>
                        <div class="w3-col m8 w3-panel">
                            <div class="w3-large w3-margin-bottom">
                                <i class="fa fa-map-marker fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i> Resistencia y Barranqueras<br>
                                <i class="fa fa-phone fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i> Telefonos: 3624512360 - 3625141852<br>
                            </div>
                            <p>Hacenos tu consulta! <i class="fa fa-whatsapp"></i> tambien podes utilizar los botones de abajo para un acceso rapido!</p>

                        </div>
                    </div>
                </div>
                <hr style="border:15px;">
                <!-- Footer -->
                <footer class="w3-center w3-black w3-padding-64 w3-opacity w3-hover-opacity-off">
                    <a href="#home" class="w3-button w3-light-grey"><i class="fa fa-arrow-up w3-margin-right"></i>Ir al inicio</a>
                    <div class="w3-xlarge w3-section">
                        <a href="https://instagram.com/inter.system?utm_medium=copy_link" target="_blank" rel="noopener">
                            <img alt="seguinos en instagram" height="40" width="40" src="https://webmasfacil.info/wp-content/uploads/2021/02/instagram.png" title="seguinos en Instagram!" /></a>
                        <a href="https://www.facebook.com/inter.system.rcia" target="_blank" rel="noopener">
                            <img alt="seguinos en facebook" height="40" width="40" src="https://webmasfacil.info/wp-content/uploads/2021/02/facebook.png" title="seguinos en Facebook!" /></a>
                        <a href="https://wa.me/5493624512360" target="_blank" rel="noopener">
                            <img alt="Comunicate por whatsapp" height="40" width="40" src="https://webmasfacil.info/wp-content/uploads/2021/02/whatsapp.png" title="Comunicate con Javier" /></a>
                        <a href="https://wa.me/5493625141852" target="_blank" rel="noopener">
                            <img alt="Comunicate por whatsapp" height="40" width="40" src="https://webmasfacil.info/wp-content/uploads/2021/02/whatsapp.png" title="Comunicate con Nicolas" /></a>
                    </div>
                    <p>2022 - Resistencia Chaco</a>
                    </p>
                </footer>

                <script>
                    // Modal Image Gallery
                    function onClick(element) {
                        document.getElementById("img01").src = element.src;
                        document.getElementById("modal01").style.display = "block";
                        var captionText = document.getElementById("caption");
                        captionText.innerHTML = element.alt;
                    }

                    // Change style of navbar on scroll
                    window.onscroll = function() {
                        myFunction()
                    };

                    function myFunction() {
                        var navbar = document.getElementById("myNavbar");
                        if (document.body.scrollTop > 100 || document.documentElement.scrollTop > 100) {
                            navbar.className = "w3-bar" + " w3-card" + " w3-animate-top" + " w3-white";
                        } else {
                            navbar.className = navbar.className.replace(" w3-card w3-animate-top w3-white", "");
                        }
                    }

                    // Used to toggle the menu on small screens when clicking on the menu button
                    function toggleFunction() {
                        var x = document.getElementById("navDemo");
                        if (x.className.indexOf("w3-show") == -1) {
                            x.className += " w3-show";
                        } else {
                            x.className = x.className.replace(" w3-show", "");
                        }
                    }
                </script>

</body>

</html>